/* global styles */

/* override browser default */
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul,
ol, li, dl, dt, dd, form, a, fieldset, input, th, td
{
margin: 0; padding: 0; border: 0; outline: none;
}

h1, h2, h3, h4, h5, h6
{
font-size: 100%;
}

body
{
line-height: 1;
font-size: 88%;
}
 
h1, h2, h3, h4, h5, h6
{
font-size: 100%;
padding: .3em 0;
}
 
ul, ol
{
list-style: none;
}
 
img
{
border: 0;
}

/* Seccion app*/  

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

/* Seccion nav */
.nav-box{
  background-color:#FF4400;
}
.nav-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: rgb(#ff4400);
}

.nav-close {
    color: rgba(197, 6, 27, 0.6);
    background-color: transparent;
    border: none;
    margin: 20px 30px;
    font-size: 30px;
    font-weight: 300;
    position: absolute;
    top: 0;
    right: 0;
}

.nav-close:hover {
  /* background-color: white; */
  border-radius: 25px;
}

/* Seccion li a */  

li {
  font-size: 40px;
  font-weight: 300;
  padding: 12px 0 0 0;
  list-style: none;
}

li:not(:last-child) {
  border-bottom: 1px solid rgba(197, 6, 27, 0.3);
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  background: teal;
  padding: 0 40px;
  border-radius: 5px;
}


/* Seccion menu*/  

.menu {
  position: absolute;
  z-index: 3;
  display: flex;
  top: 0;
  right: 0;
  overflow-y: hidden;
  /* background-color: rgb(255, 255, 255); */
}

.menu-content {
  box-sizing: border-box;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.hamburger-menu {
    float: right;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    /* background-color: white; */
    color: rgba(197, 6, 27, 0.6);
  }


#nav { padding: 30px;}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

h2 {
    color: teal;
  }


.color-fondo {
    background-color: #ff4400;
    height: 100vh;
    width: 100vw;
}